<!DOCTYPE HTML>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
    <title>function in templates!</title>
	<body>
    
    {{range .Wisdom}}
    {{uc .Name}}
    {{end}}

    {{range .Wisdom}}
    {{ft .Name}}
    {{end}}

	</body>
	</head>