<!DOCTYPE HTML>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
    <title>function in templates!</title>
	<body>
    
    Example #1
    {{range .}}
    {{.}}
    {{end}}


    Example #2
    {{if .}}
        Example #2 - {{.}}
    {{end}}

    Example #3
    {{range .}}
        {{if .Name}}
            Example #3 - {{.Name}}
            {{end}}
    {{end}}

    Example #4
    {{range .}}
    {{if and .Name .Admin}}
        Name - {{.Name}}
        Motto - {{.Motto}}
        Admin - {{.Admin}}
        {{end}}
    {{end}}

   

	</body>
	</head>