<!DOCTYPE HTML>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
    <title>The AvengersHello World!</title>
	<body>
    <ul>
    {{range .}}
    <li>{{.Name}} - {{.Motto}}</li> 
    {{end}} 
    </ul>
	</body>
	</head>

