<!DOCTYPE HTML>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
    <title>The AvengersHello World!</title>
	<body>


    <ul>
    {{range .Wisdom}}
    <li>{{.Name}} - {{.Motto}}</li> 
    {{end}} 
    </ul>


    <ul>
    {{range .Transport}}
    <li>{{.Manufacturer}} - {{.Model}} - {{.Door}}</li> 
    {{end}} 
    </ul>

	</body>
	</head>

