<!DOCTYPE HTML>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
    <title>function in templates!</title>
	<body>
    
    Without date formatting : {{.}}

    With date formatting : {{fdateMDY .}}

	</body>
	</head>