<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Doggy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>This from the Dog</h1>
<img src="/dog.jpeg" alt="A picture of dog">
</body>
</html>